/*----------general rules--------*/
.App {
  background-color: #eceff1;
  height: 100vh;
}
h1,
span,
p,
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1,
h2,
.name span {
  color: white;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
/*--------------header-----------*/

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  border: 1px solid black;
}
nav {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #232323;
}
.nav1 {
  display: flex;
  width: 200px;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}
.circle {
  /* border: white 1px solid; */
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.nav2 {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.one,
.two,
.three {
  font-size: 12px;
}
.one {
  color: #ff5f59;
}
.two {
  color: #ffbd2e;
}
.three {
  color: #29ca42;
}
.left i,
.nav2 i,
nav span {
  color: white;
}
/*---------underNav----*/
.underNav {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #273338;
}
.userName {
  border: white 1px solid;
}
.userCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: white;
}
svg {
  width: 30px;
}
.boxUser {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px white; */
  width: 125px;
  justify-content: space-between;
}
.boxUser span {
  color: white;
  font-size: 18px;
}
/*---------------section------------*/
section {
  display: flex;
  justify-content: center;
  background-color: #eceff1;
}
.name {
  display: flex;
  justify-content: space-between;
  width: 58%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
